body{
    font-family: monospace;
    font-size: 16px;
    color: #999;
    background-color:black;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
#inputarea{
    border: 0;
    background-color: black;
    color: #999;
    border: 0;
    outline: none;
    font-size: 16px;
    width: 50%;
}
#username{
    color: green;
}
.icon{
    color:deepskyblue
}
#input{
    display: block;
    background-color: black;
    border:0;
    width:100%;
    outline:none;

}
#input-area{
    background-color: black;
    width:50%;
    outline:none;
    border:0;
    color:#999;
    height: 20%;
    font-size: 16px;
}